<h1 class="text-center">Product List</h1>

<div class="container">
  <div class="row">
    @for (product of productArr; track $index) {
    <div class="col-sm-3">
      <div class="card text-center">
        <img src="{{product.images[0]}}" class="card-img-top" alt="..." height="150">
        <div class="card-body">
          <p class="card-text">{{product.title}}</p>
          <p class="card-text">{{product.category}}</p>
          <p class="card-text">Price: {{product.price}}</p>
          <p class="card-text">
            Rating: {{product.rating}}
          </p>
          <a [routerLink]="['/productdetails']"
            [queryParams]="{id:product.id,title:product.title,price:product.price}" class="btn btn-primary" >Details</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>  