<h3 class="text-center">User Details</h3>

<!-- <h5 class="card-title">{{user().name}}</h5>
  <p class="card-text">{{user().id}}</p> -->

<div class="border border-3 rounded-3 col-sm-4 offset-4 p-2">
  <div class="card text-center">
    <img src="https://img.icons8.com/nolan/1200/user-default.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{user().username}}</h5>
        <p class="card-text">{{user().id}}</p>
        <p class="card-text">{{user().name}}</p>
        <p class="card-text">{{user().email}}</p>
        <p class="card-text">{{user().phone}}</p>
        <p class="card-text">{{user().address.city}}</p>
     </div>
  </div>
</div>