<h3 class="text-center">Let's Learn DataBinding</h3>
<div class="border border-3 p-3 m-3">
    <div>Interpolation and Property Binding</div>
    <div>My name is: {{myName}}</div>
    <img src={{img_url}} alt ="" width=250px/> <!-- Interpolation -->
    <img [src] = "img_url" alt="" width=250px/> <!-- Property Binding-->
    <img bind-src = "img_url"  alt="" width=250px/> <!--bind-property-->

    <div class="mt-2">
    1 way: <input value = {{myName}}/>
    1 way: <input [value] = "myName"/>
    1 way: <input bind-value = "myName"/>
    2-way: <input [(ngModel)] = "myName" [maxlength]="max_allowed" />
    </div>

    <div>Creating a button</div>
    <div>
        <!--mx-2 is used to have a gap between each button-->
        <!--do not use interpolation binding for the boolean values-->
        <button class="btn btn-primary mx-2"> Click Me</button>
        <button class="btn btn-success mx-2" disabled={{flag}}> Click Me</button>
        <button class="btn btn-success mx-2" [disabled]="flag"> Click Me</button>
        <button class="btn btn-success mx-2" bind-disabled="flag"> Click Me</button>
        </div>

    <div class="mx-2">
        <span>Flag: {{flag}}</span>
        <button (click)="toggleFlag()" class="btn btn-primary mx-2">Toggle Button</button>
        <button on-click="toggleFlag()"class="btn btn-secondary mx-2">Toggle Button</button>
    </div>

    <div class="border border-3 p-3 m-3">
        <h4>Add two numbers using 2-way binding</h4>
        <input type="number" [(ngModel)] = "num1">
        <input type="number" [(ngModel)] = "num2">
        <div>a: {{num1}}</div>
        <div>b: {{num2}}</div>
        <div>Addition of a and b is::{{ +num1 + +num2}}</div>
    </div>
</div>