<h3 class="text-center">Model Driven Form</h3>

<div class="border border-3 rounded-3 p-3 col-sm-4 offset-4">
  <form [formGroup]="registerForm" (submit)="submitForm()">
    <p>
      FirstName: <input formControlName="firstName">
      @if(registerForm.controls['firstName'].hasError('required')){
        <span class="text-danger">FirstName is Required</span>
      }
      @if(registerForm.controls['firstName'].hasError('minlength')){
        <span class="text-danger">FirstName should have 5 chars</span>
      }
    </p>
    <p>lastName: <input formControlName="lastName"></p>
    <p>email: <input formControlName="email"></p>
    <div formGroupName="address">
      <p>city: <input formControlName="city"></p>
      <p>state: <input formControlName="state"></p>
      <p>pincode: <input formControlName="pincode"></p>
    </div>

    <input type="reset" value="Reset" />
    <input type="submit" value="Submit" class="mx-1" [disabled]="registerForm.invalid">

  </form>

  <pre>{{registerForm.value | json}}</pre>
</div>